.row {
    flex-direction: row;
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
    display: flex;
}

.col {
    flex-direction: column;
    display: flex;

}
.col-reverse {
    flex-direction: column-reverse;
    display: flex;
}

.wrap {
    flex-wrap: wrap;

    &.reverse {
        flex-wrap: wrap-reverse;
    }
}

.center-children {
    justify-content: center;
    align-items: center;
}

.center-self {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
