.row {
    flex-direction: row;
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
    display: flex;
}

.col {
    flex-direction: column;
    display: flex;

}
.col-reverse {
    flex-direction: column-reverse;
    display: flex;
}

.wrap {
    flex-wrap: wrap;

}
.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.center-children {
    justify-content: center;
    align-items: center;
    display: flex;
}

.center-self {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.flex {
    flex: 1;
}
